<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to powerpoint controller!
  </h1>
</div>
<h2>Here are functions to control powerpoint: </h2>
<ul>
  <li>
    Select a file: <input type="file" (change)="handleFileInput($event.target.files)">
    <h2><button (click)="openPresentation()">Open Powerpoint</button></h2>
  </li>
  <li>
    <h2><button (click)="prevView()">Prev Slide</button> | <button (click)="nextView()">Next Slide</button></h2>
  </li>
  <li>
    <h2><button (click)="closeView()">Close Powerpoint</button></h2>
  </li>
</ul>
<h4>Slide note</h4>
<p>{{ note }}</p>
<router-outlet></router-outlet>